body {
  background-color: rgb(35, 40, 45);
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
  transition: all .8;
}
body.light-mode {
  background: rgb(225, 234, 240);
  background: linear-gradient(300deg, rgb(216, 219, 222) 0%, rgba(188,216,232,.5) 100%);
  transition: all .8;
}
.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}