body {
  background-color: rgb(35, 40, 45);
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}
body.light-mode {
  background: rgb(225, 234, 240);
  background: linear-gradient(300deg, rgb(216, 219, 222) 0%, rgba(188,216,232,.5) 100%);
}